@import "../../../assets/vars/colors";

footer {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 115px;
    border-top: 1px solid color(footer-border);
    padding: 32px 0;

    @media screen and (max-width: 600px) {
      justify-content: center;
    }

    nav {
      margin-left: auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 32px;
        align-items: center;

        @media screen and (max-width: 600px) {
          margin-top: 24px;
          justify-content: center;
        }

        li {
          display: block;
        }
      }

      .contact-btn {
        background: color(primary);
        border-radius: 40px;
        padding: 16px 32px;
        color: #fff;
        font-weight: 700;
        transition: all ease 0.2s;
        box-shadow: 0 0 0 rgba(color(primary), 70%);

        &:hover,
        &:focus {
          box-shadow: 0 10px 40px rgba(color(primary), 70%);
        }
      }
    }
  }
	p {
		font-size: 11px;
		color: color(lighter-dark);
		padding-bottom: 15px;

    @media screen and (max-width: 600px) {
      text-align: center;
    }
	}
}
