<footer class="container">
  <div class="footer-wrapper">
      <div class="logo-container">
        <a href="#"><img src="assets/images/i2c-logo.svg" alt="i2c logo" /></a>
      </div>
      <nav>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Other</a></li>
          <li><a class="contact-btn" href="#">Contact us</a></li>
        </ul>
      </nav>
  </div>
  <p>Copyright © 2023 i2c inc. All rights reserved.</p>
</footer>
