@import "../../../assets/vars/colors";

.partners {
  margin-top: 100px;

  .section-title {
    display: flex;
    width: 100%;
		justify-content: center;

    h2 {
      font-size: 36px;
      font-weight: 800;
			position: relative;
			padding-bottom: 7px;

			&:after {
				content: "";
        position: absolute;
        left: 50%;
        top: calc(100% - 11px);
        height: 30px;
        width: 111%;
        border: 4px solid color(secondary);
        border-color: color(secondary) transparent transparent transparent;
        border-top-left-radius: 54%;
        border-top-right-radius: 52%;
        transform: rotate(-1deg) translateX(-50%);
			}
    }
  }

	p {
		text-align: center;
		max-width: 441px;
		margin: 16px auto 0;
		font-weight: 500;
		color: color(lighter-dark);
	}
}

.partners-carousel {
  max-width: 800px;
  margin: 50px auto 0;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slide {
    margin: 0 37px;

    &:nth-child(3n + 1) {
      img {
        margin-left: 0;
      }
    }
  }
}
