@import "../../../assets/vars/colors";

.registration {
	margin-top: 100px;

	h4 {
		font-size: clamp(28px, 5vw, 2.25rem);;;
		font-weight: 800;
	}

	p:not(.error) {
		margin-top: 24px;
		font-weight: 500;
		color: color(lighter-dark);
	}

	.flex-row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;

		.flex-col-55 {
			flex: 0 0 55%;
			width: 55%;
			padding-right: 15px;
			padding-left: 15px;

			img {
				@media (min-width: 992px) {
					padding-top: 80px
				}
			}

      @media (max-width: 992px) {
        flex: 0 0 100%;
        width: 100%;
      }
		}

		.flex-col-45 {
			flex: 0 0 45%;
			width: 45%;
			padding-right: 15px;
			padding-left: 15px;

      @media (max-width: 992px) {
        flex: 0 0 100%;
        width: 100%;
      }
		}
	}

	.registration-form-wrapper {
		background-color: color(light);
		border-radius: 10px;
		padding: 48px;
	}

	.reg-form {
		margin-top: 48px;

		.field {
			display: flex;
			flex-direction: column;

			&:not(:first-child) {
				margin-top: 24px;
			}

			label {
				font-weight: 500;
				margin-bottom: 8px;
				span {
					color: color(red);
				}
			}
		}

		button[type=submit] {
			margin-top: 48px;
		}
	}
}

.color-dots {
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  left: 15px;
  top: 0;
	z-index: -1;

  & > * {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
  }

  .primary {
    background-color: color(primary);
  }

  .pink {
    background-color: color(pink);
  }

  .blue {
    background-color: color(blue);
  }

  .secondary {
    background-color: color(secondary);
  }

  *:first-child,
  *:nth-child(3),
  *:nth-child(4),
  *:nth-child(5),
  *:nth-child(7){
    height: 20px;
    width: 20px;
  }

  *:nth-child(2),
  *:nth-child(6),
  *:last-child {
    height: 30px;
    width: 30px;
  }

  *:first-child {
    left: 0;
    top: 24%;
  }

  *:nth-child(2) {
    left: 23%;
    top: 11%;
  }

  *:nth-child(3) {
    right: 46%;
    top: 4%;
  }

  *:nth-child(4) {
    right: 19%;
    top: 14%;
  }

  *:nth-child(5) {
    bottom: 3%;
    right: 48%;
  }

  *:nth-child(6) {
    bottom: 25%;
    right: 51%;
  }

  *:nth-child(7) {
    bottom: 37%;
    left: 21%;
  }

  *:last-child {
    bottom: 29%;
    left: 4%;
  }
}