<section class="container">
  <div class="services">
		<div class="flex-row">
			<div class="service flex-col-33">
				<img src="assets/images/lock.svg" alt="" />
				<div class="details">
					<h6>24/7 Support</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
			</div>
			<div class="service flex-col-33">
				<img src="assets/images/graph-img.svg" alt="" />
				<div class="details">
					<h6>1000+ of reviews</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
			</div>
			<div class="service flex-col-33">
				<img src="assets/images/trophy-img.svg" alt="" />
				<div class="details">
					<h6>And more!</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
			</div>
		</div>
	</div>
</section>
