<section class="investment pos-rel">
  <div class="bg-gradients-wrapper">
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <div class="container">
		<div class="flex-row">
			<div class="flex-col-50">
				<h1>Lorem ipsum <span>dolor</span> sit amet yo 👋</h1>
				<div class="cards-container">
					<div class="user-card">
						<img src="assets/images/user-img1.png" alt="" />
						<div class="user-details-wrapper">
							<span>Andrew Schultz</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in
								tristique senectus dui pharetra sit.
							</p>
						</div>
					</div>
					<div class="user-card">
						<img src="assets/images/user-img2.png" alt="" />
						<div class="user-details-wrapper">
							<span>Andrew Schultz</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in
								tristique senectus dui pharetra sit.
							</p>
						</div>
					</div>
					<div class="user-card">
						<img src="assets/images/user-img3.png" alt="" />
						<div class="user-details-wrapper">
							<span>Andrew Schultz</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in
								tristique senectus dui pharetra sit.
							</p>
						</div>
					</div>
					<div class="user-card">
						<img src="assets/images/user-img3.png" alt="" />
						<div class="user-details-wrapper">
							<span>Andrew Schultz</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae, in
								tristique senectus dui pharetra sit.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-col-50 pos-rel">
				<img src="assets/images/Investment.svg" alt="" />
				<div class="color-dots">
					<span class="secondary"></span>
					<span class="primary"></span>
					<span class="pink"></span>
					<span class="secondary"></span>
					<span class="secondary"></span>
					<span class="pink"></span>
					<span class="secondary"></span>
					<span class="blue"></span>
				</div>
			</div>
		</div>
	</div>
</section>
